<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodeFellowShip Create Post</title>
</head>

<body>
    <nav th:replace="fragments/common :: navbar"></nav>

    <form action="/post" method="POST">
        <input type="checkbox" name="public" id="public" value="true"><label for="public">Public</label>
        <label for="postBody">Write Your Post</label><input type="text" name="postBody" id="postBody">
        <input type="submit" value="Submit Post">
    </form>
</body>

</html>