<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CodeFellowShip Sign Up</title>
</head>

<body>
    <nav th:replace="fragments/common :: navbar"></nav>

    <form action="/signup" method="POST">
        <label for="username">Username</label><input type="text" id="username" name="username">
        <label for="password">Password</label><input type="password" id="password" name="password" >
        <label for="firstName">First Name</label><input type="text" id="firstName" name="firstName">
        <label for="lastName">Last Name</label><input type="text" id="lastName" name="lastName">
        <label for="dateOfBirth">Date Of Birth</label><input type="date" id="dateOfBirth" name="dateOfBirth">
        <label for="bio">Tell Us Something About Yourself</label><input type="text" id="bio" name="bio">
        <input type="submit" value="Sign Up">
    </form>
</body>

</html>